<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/favicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopMortarSales"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.topmortar.topmortarsales.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.TestPrintActivity"
            android:exported="false" />
        <activity
            android:name=".view.invoice.DetailInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.invoice.ListInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".view.city.ManageCityActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.ManageUserActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.DetailContactActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.NewRoomChatFormActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>