<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.any" />

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="com.android.camera.action.CROP" />

            <data
                android:mimeType="image/*"
                android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".commons.ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/favicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/favicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopMortarSales"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".commons.services.TrackingService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".view.delivery.DeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".view.tukang.BrandAmbassadorActivity"
            android:exported="false" />
        <activity
            android:name=".view.gudang.FormGudangActivity"
            android:exported="false" />
        <activity
            android:name=".view.gudang.ManageGudangActivity"
            android:exported="false" />
        <activity
            android:name=".view.courier.ManageBasecampActivity"
            android:exported="false" />
        <activity
            android:name=".view.courier.AddBaseCampActivity"
            android:exported="false" />
        <activity
            android:name=".view.courier.CourierActivity"
            android:exported="false" />
        <activity
            android:name=".view.reports.UsersReportActivity"
            android:exported="false" />
        <activity
            android:name=".view.reports.ReportsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_key" />

        <activity
            android:name=".view.user.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.reports.NewReportActivity"
            android:exported="false" />
        <activity
            android:name=".view.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".view.invoice.DetailInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.PreviewKtpActivity"
            android:exported="false" />
        <activity
            android:name=".view.tukang.DetailTukangActivity"
            android:exported="false" />
        <activity
            android:name=".view.skill.ManageSkillActivity"
            android:exported="false" />
        <activity
            android:name=".view.tukang.AddTukangActivity"
            android:exported="false" />
        <activity
            android:name=".view.tukang.ListTukangActivity"
            android:exported="false" />
        <activity
            android:name=".view.suratJalan.PreviewClosingActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.topmortar.topmortarsales.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.suratJalan.DetailSuratJalanActivity"
            android:exported="false" />
        <activity
            android:name=".view.suratJalan.ListSuratJalanActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".view.city.ManageCityActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.ManageUserActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.DetailContactActivity"
            android:exported="false" />
        <activity
            android:name=".view.contact.NewRoomChatFormActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>